<h1>
  <%= @event.title %>

  <small class='text-muted'>
    //
    <%= @event.date.to_formatted_s(:week_day_and_date) %>
  </small>

  <% if Rails.env.development? %>
    <small><%= link_to 'admin', event_admin_path(@event, @event.admin_token) %></small>
  <% end %>

</h1>

<div class='trix-content'><%= sanitize @event.body %></div>

<br>

<h2>Who's coming?</h2>

<% unless @event.show_rsvp_names? %>
  <small>Guest names are hidden to other guests.</small>
<% end %>

<p>
  <%= form_for [@event, @rsvp], html: { class: "form-inline #{'d-none' if @responded}" } do |f| %>
    <%= f.label :name, "Your name:", class: "mr-2" %>
    <%= f.text_field :name, class: 'form-control mr-2 mb-2 mb-md-0' %>

    <% Rsvp::RESPONSES.each do |response| %>
      <%= f.submit value: response.to_s.titleize, class: 'btn btn-primary mr-2' %>
    <% end %>
  <% end %>

  <% if @responded %>
    <span id='rsvp-again'><%= link_to 'RSVP again', '#' %></span>
  <% end %>
</p>

<% Rsvp::RESPONSES.each do |response| %>
  <% rsvps = @rsvps.select { |rsvp| rsvp.response.to_sym == response } %>

  <% if rsvps.any? %>
    <strong><%= response.to_s.titleize %></strong> (<%= rsvps.count %>)

    <ul>
      <% rsvps.each do |rsvp| %>
        <% if @event.show_rsvp_names? %>
          <li>
            <%= rsvp.name %>

            <% if rsvp.hashid.in? @user_rsvp_hashids %>
              <small>
                [<%= link_to 'x', event_rsvp_path(@event, rsvp), method: :delete %>]
              </small>
            <% end %>
          </li>
        <% elsif rsvp.hashid.in? @user_rsvp_hashids %>
          <li>
            <%= rsvp.name %>

            <small>
              [<%= link_to 'x', event_rsvp_path(@event, rsvp), method: :delete %>]
            </small>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
<% end %>
