<h1>Edit your event</h1>

<%= simple_form_for @event, url: event_admin_path(@event, @event.admin_token) do |f| %>
  <%= f.input :title %>

  <%= f.input :date,
    label: 'When is this happening?',
    order: [:month, :day, :year],
    start_year: Date.today.year
  %>


  <%= f.label :body, 'More details (optional):' %>
  <%= f.input :body, as: :hidden %>
  <trix-editor input="event_body"></trix-editor>

  <br>

  <%= f.input :show_rsvp_names, label: 'Let guests see the names of other guests' %>

  <br>

  <%= f.button :submit, class: 'btn-primary mr-2' %>
  <%= link_to "Back", event_admin_path(@event, @event.admin_token), class: 'btn-link' %>
<% end %>
