<h1>
  <%= @event.title %>

  <small class='text-muted'>
    //
    <%= @event.date.to_formatted_s(:week_day_and_date) %>
  </small>
</h1>

<p>
  <%= link_to "Edit", edit_event_admin_path(@event, @event.admin_token), class: 'btn btn-primary' %>
</p>

<ul>
  <li>
    This is your super-secret admin link:
    <%= link_to event_admin_url(@event, @event.admin_token), event_admin_path(@event, @event.admin_token), id: 'admin-link' %>.
    Bookmark it!
  </li>

  <li>
    Invite your guests by sending them this link:
    <%= link_to event_url(@event), event_path(@event), id: 'public-link' %>

    <%= content_tag :button,
      'Copy',
      type: :button,
      class: ['btn', 'btn-sm', 'btn-outline-success', 'clipboard'],
      data: { clipboard_text: event_url(@event) }
    %>

    Everyone with the link can RSVP, no account required.
  </li>

  <li>
    <% if @event.published? %>
      If you'd like to unpublish your event:
      <%= button_to 'click here', toggle_publish_event_admin_path(@event, @event.admin_token), class: 'btn btn-link', form_class: 'inline-btn-link' %>.
      No one will be able to view the event page. You can come back to this admin page anytime to change this if needed.
    <% else %>
      <strong>Your event is not publicly viewable right now.</strong> No one is currently able to view the event page.
      <%= button_to 'Click here to publish it', toggle_publish_event_admin_path(@event, @event.admin_token), class: 'btn btn-link', form_class: 'inline-btn-link' %>.
    <% end %>
  </li>
</ul>

<h2>Details</h2>

<% if @event.body.blank? %>
  <p>
    Where is this event taking place? What should the guests bring?
    <%= link_to "Add some details", edit_event_admin_path(@event, @event.admin_token) %>.
  </p>
<% else %>
  <div class='trix-content'><%= sanitize @event.body %></div>
  <br>
<% end %>

<h2>RSVPs</h2>

<p>
  <% if @event.show_rsvp_names? %>
    Guests can see the names of other guests.
  <% else %>
    Guest names are hidden to other guests.
  <% end %>

  <%= link_to "Edit", edit_event_admin_path(@event, @event.admin_token) %>
</p>

<ul>
  <% Rsvp::RESPONSES.each do |response| %>
    <% rsvps = @rsvps.select { |rsvp| rsvp.response.to_sym == response } %>

    <li>
      <%= response.to_s.titleize %> (<%= rsvps.count %>)
      <ul>
        <% rsvps.each do |rsvp| %>
          <li>
            <%= rsvp.name %>
            [<%= link_to 'edit', '#', data: { toggle: :modal, target: "#rsvp_#{rsvp.hashid}_modal" } %>]
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>

<% @rsvps.each do |rsvp| %>
  <div class='modal fade' id='<%= "rsvp_#{rsvp.hashid}_modal" %>' tabindex='-1' role='dialog' aria-labelledby='emailModalLabel' aria-hidden='true'>
    <div class='modal-dialog' role='document'>
      <div class='modal-content'>
        <div class='modal-body'>
          <%= form_for rsvp, url: event_admin_rsvp_path(@event, @event.admin_token, rsvp) do |f| %>

            <div class='form-group'>
              <%= f.label :name %>
              <%= f.text_field :name, class: 'form-control' %>
            </div>

            <div class='form-group'>
              <%= f.label :response %>
              <%= f.select :response, Rsvp::RESPONSES.map { |r| [r.to_s.titleize, r] } %>
            </div>

            <%= f.submit 'Update', class: 'btn btn-primary mr-2' %>
            <button class='btn btn-link' data-dismiss='modal'>Close</button>
            <%= link_to 'Delete…', event_admin_rsvp_path(@event, @event.admin_token, rsvp), method: :delete, class: 'btn btn-danger float-right', data: { confirm: 'Are you sure you want to delete this RSVP?' } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
