<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= @event&.title || "Easy RSVP" %>
    </title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= render 'application/favicon' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <div class='container' id='main'>
      <nav class='navbar navbar-light mb-2'>
        <%= link_to root_path, class: 'navbar-brand' do %>
          <%= image_tag 'logo-small.png', id: 'logo' %>
          Easy RSVP
        <% end %>
      </nav>

      <%= render 'layouts/messages' %>
      <%= yield %>

      <div class="text-right text-muted mt-5">
        <hr>
        <p class="small">
          Easy RSVP is an
          <a href="https://github.com/KevinBongart/easy-rsvp">open-source</a>
          app made with care by
          <a href="http://kevinbongart.net">Kevin Bongart</a>.
          <a href="https://www.kevinbongart.net/projects/easy-rsvp.html">Learn more</a>.
        </p>
      </div>
    </div>

    <%= javascript_tag do %>
      new ClipboardJS('.clipboard');
    <% end %>
  </body>
</html>
